Xft.dpi: 92
Xft.antialias: true

URxvt.depth: 32
URxvt.saveLines: 20000
! hard contrast: *background: #1d2021
URxvt.background: [90]#282828
! soft contrast: URxvt.background: [100]#32302f
URxvt.foreground: [100]#ebdbb2
! Black + DarkGrey
URxvt.color0:  [100]#282828
URxvt.color8:  [100]#928374
! DarkRed + Red
URxvt.color1:  [100]#cc241d
URxvt.color9:  [100]#fb4934
! DarkGreen + Green
URxvt.color2:  [100]#98971a
URxvt.color10: [100]#b8bb26
! DarkYellow + Yellow
URxvt.color3:  [100]#d79921
URxvt.color11: [100]#fabd2f
! DarkBlue + Blue
URxvt.color4:  [100]#458588
URxvt.color12: [100]#83a598
! DarkMagenta + Magenta
URxvt.color5:  [100]#b16286
URxvt.color13: [100]#d3869b
! DarkCyan + Cyan
URxvt.color6:  [100]#689d6a
URxvt.color14: [100]#8ec07c
! LightGrey + White
URxvt.color7:  [100]#a89984
URxvt.color15: [100]#ebdbb2

URxvt*font: xft:JetBrains\ Mono:size=14,xft:Hack:size=14,xft:Symbola:size=14,xft:IPAMincho:size=11
URxvt*lineSpace: 0
URxvt.clipboard.autocopy: true
URxvt.scrollBar: false
URxvt.internalBorder: 0
